:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.ir{
	position: absolute;
    clip-path: inset(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE8FE;
}

button {
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

input {
    border: none;
}


/* 공통 */

.balance-money::after,
.have-money::after {
    content: '원';
    display: inline-block;
    margin-left: 5px;
} 

/* 레이아웃 */

.logo {
    text-align: center;
    margin-bottom: 67px;
}

.logo img {
    width: 386px;
    height: 180px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 170px;
    gap: 28px;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 44px 0 170px;
    justify-content: space-between;
}

/* vending machine */
.vending-machine {
    padding: 31px 27px 28px 27px;
    box-sizing: border-box;
    width: 360px;
    height: 545px;
    background-color: #fff;
}

/* 음료 리스트 ul */
.drink-container {
    display: grid;
    grid-template-columns: repeat(3,94px);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    grid-gap: 12px;
    margin-bottom: 20px;
}

/* 솔드아웃 */
.drink-item .soldout::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("../images/품절.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    opacity: 0.8;
}

/* 음료 각각 */
.drink-item {
    /* height: 130px; */
    border-radius: 10px;
    box-sizing: border-box;
}

.drink-item:hover {
    outline: 3px solid #6327FE;
}

.drink-item-btn {
    width: 100%;
    height: 100%;
    
    padding: 11px 11px 9px 13px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 9px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.drink-item-btn .item-btn-name {
    display: block;
    margin: 6px 0;
} 

.drink-item-btn .item-btn-amount {
    width: 70px;
    height: 22px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #6327FE;
    color: #fff;
    border-radius: 50px;
    line-height: 1;
}

.item-btn-amount::after {
    content: '원';
    display: inline-block;
}

/* 음료 획득 과정 */
.form-container {
    display: grid;
    grid-template-columns: 200px 94px;
    grid-template-rows: repeat(2, 32px) 106px;
    gap: 10px;
    justify-content: center;
    /* font-size: 13px;
    font-weight: 500; */
}

/* 잔액 */
.balance, .money-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 6px 10px;
    box-sizing: border-box;
    height: 32px;
    background-color: #EAE8FE;
    border-radius: 5px;
}

.balance {
    font-weight: 500;
    font-size: 14px;
}

/* 입금액 입력 input */
.insert-price {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 6px;
    font-size: 13px;
}

/* 거스름돈 반환 */
.return-price, .insert-btn {
    background-color: #fff;
    padding: 6px 9px 7px 10px;
    border-radius: 5px;
    line-height: 1;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.get-btn {
    background-color: #6327FE;
    color: #fff;
    border-radius: 5px;
}

.get-list {
    border-radius: 5px;
    outline: 1px solid #BDBDBD;
}

.get-cart {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    background-color: #EAE8FE;
    border-radius: 5px;
}

.get-item {
    display: flex;
    align-items: center;
    width: 170px;
    background: #FFFFFF;
    padding: 8px;
    margin-bottom: 10px;border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    font-size: 9px;
}

/* right section */
.result-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    height: 545px;
    /* margin-top: -10px; */
}
/* 현재 소지금액 */
.result-container .current-money {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.money-box {
    width: 306px;
    margin: 9px auto;
    font-weight: 500;
}


/* 음료 구매 리스트 */
.result-container .get-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    padding: 26px 27px;
}

.get-wrapper h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 13px;
}

.get-wrapper .get-total {
    font-size: 12px;
    text-align: right;
    margin-top: 6px;
}

.get-cart.max {
    width: 306px;
    height: 364px;
} 


.get-cart.max .get-item {
    width: 274px;
}

.get-item img {
    width: 18px;
    display: block;
}

.get-item .item-name {
    margin-left: 10px;
    width: 73px;

}

.get-item .item-num {
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
}

/* 스크롤 커스텀 */
.get-cart::-webkit-scrollbar {
    width: 10px;
    
}

.get-cart::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 50px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.get-cart::-webkit-scrollbar-track {
    background: #EAE8FE;
  }