:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.ir{
	position: absolute;
    clip-path: inset(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}


button {
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: 500; */
}

input {
    border: none;
}


/* 레이아웃 */

body {
    background-color: #EAE8FE;
}

.logo {
    text-align: center;
    margin-bottom: 67px;
}

.logo img {
    width: 386px;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 화면 크기에 따라 알아서 밑으로 떨어지도록 */
    gap: 0 28px;
}

#wrapper .vending-machine,
#wrapper .my-info {    
    flex-basis: 360px;
}


/* vending machine */
.vending-machine {
    padding: 31px 27px 28px;
    box-sizing: border-box;
    /* width: 360px;
    height: 545px; */
    background-color: #fff;
}

/* 음료 리스트 ul */
.drink-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    margin-bottom: 20px;
}

/* 음료 각각 li */
.drink-list li {
    position: relative;
    border-radius: 10px;
    font-size: 9px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

/* 솔드아웃 */
.drink-list li.soldout::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background: no-repeat center/60px 46px url(../images/품절.png) rgba(0,0,0,0.8);
}

.drink-list li.soldout {
    pointer-events: none;
}

/* 음료 button */
.vending-machine .get-item-btn {
    width: 100%;
    padding: 11px 12px 9px;
}

.drink-list .get-item-btn:active {
    border-radius: 10px;
    outline: 3px solid #6327FE;
}

.get-item-btn img {
    width: 36px;
    height: 65px;
    margin: 0 auto;
}

.get-item-btn .tit-item {
    display: block;
    margin: 6px 0;
    font-size: 9px;
} 

.get-item-btn .txt-price {
    display: block;
    font-size: 12px;
    padding: 5px 15px;
    background-color: #6327FE;
    color: #fff;
    border-radius: 50px;
}

/* 음료 획득 과정 */
.vending-machine .buy-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-content: center;
}

.buy-container .balance,
.buy-container .insert-inp,
.buy-container .get-cart-list {
    grid-column: 1/3;
    border-radius: 5px;
    font-size: 13px;
}

.buy-container .return-btn,
.buy-container .insert-btn,
.buy-container .get-btn {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    font-size: 13px;
}

/* 잔액, 소지금 공통 스타일 */
.balance, .money-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    height: 32px;
    background-color: #EAE8FE;
}

.buy-container .balance {
    font-size: 14px;
}

/* 입금액 입력 input */
.insert-inp {
    border: 1px solid #BDBDBD;
    padding: 6px;
}

.buy-container .get-btn {
    background-color: #6327FE;
    color: #fff;
}

.get-cart-list {
    display: flex;
    flex-direction: column;
    height: 106px;
    padding: 12px;
    overflow-y: scroll;
    background-color: #EAE8FE;
    outline: 1px solid #BDBDBD;
}

.get-item {
    display: flex;
    align-items: center;
    width: 170px;
    background: #fff;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    font-size: 9px;
}

.get-item img {
    width: 18px;
    display: block;
}

.get-item .item-name {
    margin-left: 10px;

}

.get-item .item-num {
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    line-height: 30px;
    font-size: 14px;
}

/* right section */
.my-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    height: 545px;
    /* margin-top: -10px; */
}
/* 현재 소지금액 */
.my-info .current-money {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.my-info .money-box {
    width: 306px;
    margin: 9px auto;
    border-radius: 5px;
    font-weight: 500;
}


/* 음료 구매 리스트 */
.my-info .my-current-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    padding: 26px 27px;
}

.my-current-item .tit-my-item {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 13px;
}

.my-current-item .get-cart-list {
    width: 306px;
    height: 364px;
}

.my-current-item .get-cart-list .get-item {
    width: 274px;
}

.my-current-item .get-total {
    font-size: 12px;
    text-align: right;
    margin-top: 6px;
}

/* 스크롤 커스텀 */
.get-cart-list::-webkit-scrollbar {
    width: 10px;
    
}

.get-cart-list::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 50px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.get-cart-list::-webkit-scrollbar-track {
    background: #EAE8FE;
  }



/* 미디어 쿼리 */

@media only screen and (min-width: 320px) and (max-width:480px) {
    body {
        background-color: #fff;
    }

    .logo {
        margin-bottom: 25px;
    }

    .logo img {
        width: 166px;
    }
}